
# Ignore complie files
*.xml

*.log
*.pyc

# Ignore environment and result files
/Archive
/InSpy
/Reference
/Result
/venv
/__pycache__
/.idea
/Vcode

# Ignore credential and testing files
keys.py
test.py
dddingwork.py
google_key.json
