pandas~=1.2.1
requests~=2.25.1
bs4~=0.0.1
lxml
Pillow~=8.1.0
baidu-aip
pyodbc~=4.0.30
webdrivermanager
selenium~=3.141.0
urllib3
func-timeout
xlrd
openpyxl~=3.0.6
numpy~=1.19.5
beautifulsoup4~=4.9.3
python-dateutil~=2.8.1
pytz~=2020.5
argparse~=1.4.0
certifi~=2020.12.5